.foto {border-radius: 50%; width: 200px; position: relative; left: 300px; bottom: 400x; ;}

.оглавление { text-align: center; }

.oneblock { background: rgba(128, 0, 128, 0.281);}

.twoblock { background: rgba(230, 142, 142, 0.384);}

.freeblock { background:rgba(230, 142, 142, 0.384)}

.fourblock { background: rgba(230, 142, 142, 0.384);}

.fiveblock { background: rgba(230, 142, 142, 0.384);}

.sixblock { background: rgba(128, 0, 128, 0.281);}